/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/*
/src/minecraft_server/*
/src/common/*
!/src/common/advtech
*.bat
*.sh
.DS_STORE
CHANGELOG
LICENSE.txt
*.class